@import '../variables.scss';
.cvs-main-div{
  display: flex;
  flex-direction: column;

  .cv-div {
    margin: 5px auto 10px auto;
    min-height: 90px;
    width: 53.3%;
    padding: 15px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    p {
      margin: 10px 0 0 0;
    }
    .name{
      color: $green;
      font-size: 1.5em;
      display: inline;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }

    &:hover {
      border: 1px solid $light-green;
    }
  }
  .header-for-add-button{
    margin: 20px auto 0 auto;
    width: 53.3%;
    display: flex;
    justify-content: space-between;

    .header-text{
      margin: 0;
      color:$green;
      padding: 0;
    }
    .add-cv-button {
      background-color: $background;
      border: none;
      cursor: pointer;
      font-size: 14px;
      color: $green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.one-cv-main-div{
  display: flex;
  justify-content: center;
  .cv-div{
    margin: 20px;
    padding: 20px;
    align-items: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 53.3%;
    border-radius: 15px;
    border: 1px solid $light-green;
    p{
      margin: 10px 0 0 0;
    }
    h2, h4{
      margin: 20px 0 0 0;
      color: $green;
    }
    .cv-name{
      margin: 0;
    }
    a{
      color: $green;
      text-decoration: none;
      &:hover{
       text-decoration: underline;
      }
    }
    .name-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      button{
        margin-left: 10px;
      }
    }
  }
  .details-button {
    background-color: $green;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0 10px 0;

    &:hover {
      color: $yellow;
    }
  }
  .cv-file-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .file-span{
    color: $green;
    padding: 5px;
    border: 1px solid $light-green;
    cursor: pointer;
    border-radius: 4px;
  }
}
